{{define "content-class"}}full-page{{end}}

{{define "content"}}
<div class="filters">
  {{if .Query.reporter}}<input type="hidden" name="reporter" value="{{.Query.reporter}}">{{end}}
  {{if .Query.assignee}}<input type="hidden" name="assignee" value="{{.Query.assignee}}">{{end}}
  <input name="search" type="text" placeholder="Search" value="{{.Query.search}}" hx-get="/" hx-trigger="input[this.value.length >= 3 || this.value.length === 0] delay:0.3s" hx-include=".filters [name]" hx-swap="none">
  <select name="project" hx-get="/" hx-include=".filters [name]" hx-swap="none">
    <option value="">Project</option>
    <option {{if eq .Query.project "MC"}}selected{{end}}>MC</option>
    <option {{if eq .Query.project "MCPE"}}selected{{end}}>MCPE</option>
    <option {{if eq .Query.project "MCL"}}selected{{end}}>MCL</option>
    <option {{if eq .Query.project "REALMS"}}selected{{end}}>REALMS</option>
    <option {{if eq .Query.project "WEB"}}selected{{end}}>WEB</option>
    <option {{if eq .Query.project "BDS"}}selected{{end}}>BDS</option>
  </select>
  <select name="status" hx-get="/" hx-include=".filters [name]" hx-swap="none">
    <option value="">Status</option>
    <option {{if eq .Query.status "Open"}}selected{{end}}>Open</option>
    <option {{if eq .Query.status "Reopened"}}selected{{end}}>Reopened</option>
    <option {{if eq .Query.status "Postponed"}}selected{{end}}>Postponed</option>
    <option {{if eq .Query.status "In Progress"}}selected{{end}}>In Progress</option>
    <option {{if eq .Query.status "Resolved"}}selected{{end}}>Resolved</option>
    <option {{if eq .Query.status "Closed"}}selected{{end}}>Closed</option>
  </select>
  <select name="confirmation" hx-get="/" hx-include=".filters [name]" hx-swap="none">
    <option value="">Confirmation</option>
    <option {{if eq .Query.confirmation "Unconfirmed"}}selected{{end}}>Unconfirmed</option>
    <option {{if eq .Query.confirmation "Plausible"}}selected{{end}}>Plausible</option>
    <option {{if eq .Query.confirmation "Community Consensus"}}selected{{end}}>Community Consensus</option>
    <option {{if eq .Query.confirmation "Confirmed"}}selected{{end}}>Confirmed</option>
  </select>
  <select name="resolution" hx-get="/" hx-include=".filters [name]" hx-swap="none">
    <option value="">Resolution</option>
    <option {{if eq .Query.resolution "Awaiting Response"}}selected{{end}}>Awaiting Response</option>
    <option {{if eq .Query.resolution "Cannot Reproduce"}}selected{{end}}>Cannot Reproduce</option>
    <option {{if eq .Query.resolution "Done"}}selected{{end}}>Done</option>
    <option {{if eq .Query.resolution "Duplicate"}}selected{{end}}>Duplicate</option>
    <option {{if eq .Query.resolution "Fixed"}}selected{{end}}>Fixed</option>
    <option {{if eq .Query.resolution "Incomplete"}}selected{{end}}>Incomplete</option>
    <option {{if eq .Query.resolution "Invalid"}}selected{{end}}>Invalid</option>
    <option {{if eq .Query.resolution "Unresolved"}}selected{{end}}>Unresolved</option>
    <option {{if eq .Query.resolution "Won't Fix"}}selected{{end}}>Won't Fix</option>
    <option {{if eq .Query.resolution "Works As Intended"}}selected{{end}}>Works As Intended</option>
  </select>
  <select name="priority" hx-get="/" hx-include=".filters [name]" hx-swap="none">
    <option value="">Priority</option>
    <option {{if eq .Query.priority "Low"}}selected{{end}}>Low</option>
    <option {{if eq .Query.priority "Normal"}}selected{{end}}>Normal</option>
    <option {{if eq .Query.priority "Important"}}selected{{end}}>Important</option>
    <option {{if eq .Query.priority "Very Important"}}selected{{end}}>Very Important</option>
  </select>
  <select name="sort" hx-get="/" hx-include=".filters [name]" hx-swap="none">
    <option value="">Sort by: Created</option>
    <option value="Updated" {{if eq .Query.sort "Updated"}}selected{{end}}>Sort by: Updated</option>
    <option value="Resolved" {{if eq .Query.sort "Resolved"}}selected{{end}}>Sort by: Resolved</option>
    <option value="Priority" {{if eq .Query.sort "Priority"}}selected{{end}}>Sort by: Priority</option>
    <option value="Votes" {{if eq .Query.sort "Votes"}}selected{{end}}>Sort by: Votes</option>
    <option value="Comments" {{if eq .Query.sort "Comments"}}selected{{end}}>Sort by: Comments</option>
    <option value="Duplicates" {{if eq .Query.sort "Duplicates"}}selected{{end}}>Sort by: Duplicates</option>
  </select>
</div>
<div class="issue-list" id="issue-list" hx-swap-oob="true">
  <div class="issue-controls">
    <div class="issue-count">{{len .Issues}} of {{.Count}}</div>
    <div class="issue-pagination">
      <button hx-get="/" hx-vals='{"page":{{add .Page -1}}}' hx-trigger="click" hx-include=".filters [name]" hx-swap="none">{{icon "chevron-left"}}</button>
      <div class="issue-page">{{.Page}}</div>
      <button hx-get="/" hx-vals='{"page":{{add .Page 1}}}' hx-trigger="click" hx-include=".filters [name]" hx-swap="none">{{icon "chevron-right"}}</button>
    </div>
    <div class="issue-list-spinner">{{icon "sync"}}</div>
    {{if .Outage}}
    <div class="issue-list-notice">
      <img src='/static/icons/warning.svg' alt='' width="16" height="16">
      <span>Ongoing outage:</span>
      {{.Outage.NewCount}} new issues haven't synced to this platform and
      {{.Outage.UpdateCount}} issues have outdated information.
    </div>
    {{end}}
  </div>
  <div class="issue-table-container">
    <table class="issue-table">
      <thead>
        <tr>
          <th><div class="issue-table-key">Key</div></th>
          <th><div class="issue-table-summary">Summary</div></th>
          <th><div class="issue-table-status">Status</div></th>
          <th><div class="issue-table-user">Reporter</div></th>
          <th><div class="issue-table-user">Assignee</div></th>
          <th><div class="issue-table-time">Created</div></th>
        </tr>
      </thead>
      <tbody>
        {{range .Issues}}
          <tr {{if .IsResolved}}class="issue-resolved"{{end}}>
            <td><a class="issue-table-key" href="/{{.Key}}">{{.Key}}</a></td>
            <td><div class="issue-table-summary" title="{{.Summary}}">{{.Summary}}</div></td>
            <td><div class="issue-table-status">
              <div class="status-badge">
                {{if .Resolution}}{{.Resolution}}{{else}}{{.ConfirmationStatus}}{{end}}
              </div>
            </div></td>
            <td><a class="issue-table-user" href="/user/{{urlPathEscape .ReporterName}}">
              {{if .ReporterAvatar}}
                <img class="avatar" src="{{.ReporterAvatar}}" alt="" width="24" height="24">
              {{end}}
              {{.ReporterName}}
            </a></td>
            <td><a class="issue-table-user" href="/user/{{urlPathEscape .AssigneeName}}">
              {{if .AssigneeAvatar}}
                <img class="avatar" src="{{.AssigneeAvatar}}" alt="" width="24" height="24">
              {{end}}
              {{.AssigneeName}}
            </a></td>
            <td><time datetime="{{formatTime .CreatedDate}}">{{formatTime .CreatedDate}}</time></td>
          </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}

{{template "base" .}}
