{{define "meta"}}
<meta name="title" content="{{.UserName}}" />
<meta property="og:title" content="{{.UserName}}" />
<meta property="twitter:title" content="{{.UserName}}">
{{if .Issue.FirstImage}}
  <meta property="og:image" content="{{.ReporterAvatar}}" />
  <meta property="twitter:image" content="{{.ReporterAvatar}}">
{{end}}
<meta property="og:type" content="website" />
<meta property="twitter:domain" content="mojira.dev">
<meta property="og:url" content="https://mojira.dev/{{.UserName}}">
<meta property="twitter:url" content="https://mojira.dev/{{.UserName}}">
{{end}}

{{define "title"}}{{.UserName}}{{end}}

{{define "content"}}
<div class="user">
  <h1>
    {{range .UserAvatars}}
      <img class="avatar" src="{{.}}" alt="" width="24" height="24">
    {{end}}
    <span>{{.UserName}}</span>
  </h1>

  {{if .MultipleAvatars}}
  <div class="adf user-warning">
    <div class='panel panel-warning'>
      <img src='/static/icons/warning.svg' alt=''>
      <div>
        More than one avatar was detected! There might be multiple accounts sharing this same name.
      </div>
    </div>
  </div>
  {{end}}

  <div class="user-split">
    <div>
      <h2>Assigned</h2>
      {{if gt .AssignedIssues.Count 0}}
        <div class="user-section-link">
          <a href="/?assignee={{.UserName}}">View all</a>
        </div>
      {{end}}
      <div id="assigned-issues">
        {{with .AssignedIssues}}
          {{range .Visible}}
            {{template "issueLink" .}}
          {{end}}
          {{if eq .Count 0}}<span class="no-results">No issues.</span>{{end}}
        {{else}}
          <span class="no-results">No issues.</span>
        {{end}}
      </div>
      <h2>Reported</h2>
      {{if gt .ReportedIssues.Count 0}}
        <div class="user-section-link">
          <a href="/?reporter={{.UserName}}">View all</a>
        </div>
      {{end}}
      <div id="reported-issues">
        {{with .ReportedIssues}}
          {{range .Visible}}
            {{template "issueLink" .}}
          {{end}}
          {{if eq .Count 0}}<span class="no-results">No issues.</span>{{end}}
        {{else}}
          <span class="no-results">No issues.</span>
        {{end}}
      </div>
    </div>
    <div>
      <h2>Comments</h2>
      <div class="user-comments" id="user-comments">
        {{with .Comments}}
          {{range .Visible}}
            {{template "comment" .}}
          {{end}}
          {{if .HasMore}}
            <div class="expand-comments" data-load-more="comments" data-offset="20" data-type="comments">
              <span>Load more comments</span>
            </div>
          {{end}}
          {{if eq .Count 0}}<p class="no-results">No comments.</p>{{end}}
        {{end}}
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "issueLink"}}
  <a class="issue-link {{if .IsResolved}}issue-resolved{{end}}" href="/{{.Key}}">
    <img src="/static/icons/bug.svg" width="16" height="16" alt="">
    <span class="issue-link-key">{{.Key}}</span>
    <span class="issue-link-summary" title="{{.Summary}}">{{.Summary}}</span>
    <span class="status-badge">
      {{if .Resolution}}{{.Resolution}}{{else}}{{.ConfirmationStatus}}{{end}}
    </span>
  </a>
{{end}}

{{define "comment"}}
  <div class="comment">
    <div class="anchor" id="{{.Anchor}}"></div>
    <div>
      {{if .AuthorAvatar}}
        <img class="avatar" src="{{.AuthorAvatar}}" alt="" width="24" height="24">
      {{end}}
      <a class="user-link" href="/user/{{urlPathEscape .AuthorName}}"><span class="comment-author">{{.AuthorName}}</span></a>
      <span class="comment-on">on</span>
      <a class="comment-link" href="/{{.Issue.Key}}#{{.Anchor}}">
        <span class="issue-key">{{.Issue.Key}}</span>
        <span class="comment-time">
          <time datetime="{{formatTime .Date}}">{{formatTime .Date}}</time>
        </span>
      </a>
    </div>
    <div class="comment-body">
      <div class="adf">{{.Render}}</div>
    </div>
  </div>
{{end}}

{{template "base" .}}
